@media(max-width: 600px){
    .about-desc-container{
        display: block;
        margin: 50px 0px;
        text-align: center;
    }
    .about-desc-img{
        display: none;
    }
    .team-heading{
        margin-bottom: 30px;
    }
    .team-member-cards{
        grid-template-columns: 1fr;
    }
    .footer-container{
        border-radius: 0px;
    }
}