.application-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 60%;
    margin: 0px auto;
    margin-top: 100px;
}
.hero{
    width: 900px;
    height: 500px;
    transition: 0.3s;
}
.application-desc{
    text-align: center;
    color: grey;
    margin-top: 20px;
}
.buttons{
    margin-top: 20px;
}
@media(max-width: 930px){
    .hero{
        width: 500px;
        height: 285px;
        transition: 0.3s;
    }
}