.feature-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.feature-container p, .feature-container h1{
    text-align: center;
}
.feature-content{
    width: 50%;
}
.feature-cards{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 90%;
    gap: 10px;
    margin-top: 50px;
}
.feature-card{
    text-align: center;
}
.icon{
    font-size: x-large;
    background: #22C55E;
    border-radius: 6px;
    width: fit-content;
    margin: 10px auto;
    display: flex;
    align-items: center;
    padding: 15px;
}

