.getStarted-container{
    width: 70%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color:rgb(46, 46, 74);
    padding: 60px;
    border-radius: 6px;
    margin-top: 70px;
}
.buttons{
    text-align: center;
}