.header-container{
    background-image: url('./assets/pattern.jpg');
    background-repeat: no-repeat;
    background-size: 100% 600px;
}
/* @media(max-width: 740px){
    .header-container{
        background-size: 100% 700px;
    }
} */
