*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  list-style: none;
}
.badge-container{
  display: none;
}
body{
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
button{
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 400;
  width: auto;
  height: 40px;
  font-size: inherit;
  cursor: pointer;
}
a{
  cursor: pointer;
}
.green-btn{
  background-color: #22C55E;
  color: whitesmoke;
}
.grey-btn{
  background-color: #41436A;
  color: whitesmoke;
}
.maroon-btn{
  background-color: #974063;
  color: whitesmoke;
}
.peach-btn{
  background-color: #FF9677;
  color: whitesmoke;
}
.red-btn{
  background-color: #F54768;
  color: whitesmoke;
}
.transparent-btn{
  background-color: transparent;
  border: 1px solid #404F65;
}
.grey-color{
  color: #8896AB;
}
.grey-color-2{
  color: #556987;
}
.green-color{
  color: #22C55E;
}
.white-color{
  color: whitesmoke;
}
.docky-logo{
  width: 100px;
}


.p-20{
  font-size: 20px;
  font-weight: 500;
}

@media(max-width: 960px){
  .desc-container .content{
    width: 100%;
  }
}

@media(max-width: 820px){

  .nav-bars-btn{
    display: flex;
    align-items: center;
  }

  .header-container{
    background: none;
  }

  .desc-heading h1{
    color: black;
    font-size: xx-large;
  }
  .desc-heading-effi{
    color: #48BB78;
  }
  .desc-heading-tools{
    color: #F59E0B;
  }
  .desc-content p{
    margin-top: 93px;
  }
  .desc-video{
    display: none;
  }
  .signup-btn{
    display: none;
  }
  .watch-btn{
    display: inline-block;
  }
  .content{
    width: 80%;
  }

  .feature-container{
    display: none;
    padding: 50px 0px;
    margin: 40px 0px;
  }
  .feature-content{
    width: 80%;
  }
  .feature-cards{
    grid-template-columns: 1fr;
  }
  .feature-card{
    margin: 20px 0px;
  }
  .feature-card-content{
    width: 70%;
    margin: 0px auto;
  }

  .getStarted-container{
    display: none;
    grid-template-columns: 1fr;
    padding: 40px;
    transition: 0.3s;
  }

  .waves, .demo-video-container{
    display: none;
  }
  .demo-content{
    padding: 30px;
    border-radius: 20px;
  }
  .demo-description{
    grid-template-columns: 1fr;
    transition: 0.3s;
  }
  .demo-heading, .demo-desc{
    display: none;
  }
  .demo-heading-mob, .demo-desc-mob{
    display: inline-block;
    color: whitesmoke;
}
  .demo-video-container{
    margin: 30px 0px;
  }
  .demo-points{
    grid-template-columns: 1fr;
  }
  .point{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 0px;
  }
  .point-content{
    width: 90%;
  }

  .application-container{
    width: 90%;
  }

  .hero{
    width: 350px;
    height: 300px;
  }

  .pricing-container{
    width: 100%;
  }
  .priceTag-cards{
    flex-direction: column;
  }
  .priceTag-card{
    width: 70%;
    margin: 0px auto;
  }
  .benefit-list{
    width: fit-content;
    margin: 0px auto;
  }

  .footer-container{
    border-radius: 20px 20px 0px 0px;
  }
  .footer-link-container{
    display: none;
  }
  .footer-mob-header{
    display: inline-block;
  }
  footer hr{
    display: none;
  }
}

@media(max-width: 600px){
  .desc-video{
    transition: 0.3px;
    height: 300px;
  }
}